
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    font-weight: 300;
    margin: 1px;
    padding: 1px;	 
}

#maincontainer {
	background-color: #fff;
	position: relative;
	margin: 1px;
    padding: 1px;
	margin-top: 9%;
	width: auto;
	height: 95%;
	float: left;
    clear: both;	
	left: 50%;
	transform: translate(-50%);
}

#div_container { 
	margin: 1px;
    padding: 1px;
	background-color: #fcfcfc;
	position: relative;
	width: fit-content;
	height: 95%;
	float: left;
    clear: both;
}

div#div_messages {
    position: relative;
    background-color: #d3d3d3;
    background-image: linear-gradient(15deg, transparent 28%, rgba(243, 244, 245, 0.5) 28%);
    background-size: 50px;
    float: right;
    clear: none;
    width: fit-content;
    margin: 1px;
    padding: 1px;
}

div#div_messages_modal {
    position: relative;
    background-color: #d3d3d3;
    background-image: linear-gradient(15deg, transparent 28%, rgba(243, 244, 245, 0.5) 28%);
    background-size: 50px;
    float: left;
    clear: none;
    width: fit-content;
    margin: 1px;
    padding: 1px;
    margin-left: 1%;
    margin-top: 8%;
    margin-bottom: 3%;
}

div.div_info_message_item {
    color: rgb(23, 4, 110);
    font-size: 15px;
    text-align: left;
    width: 100%;
    margin: 1px;
    padding: 1px;
    float: left;
    clear: both;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid rgb(157, 216, 49);
    border-radius: 10px;
    width: fit-content;
}

div.div_info_message_item:hover {
    border: 1px solid rgb(23, 4, 110);
}

div.div_error_message_item {
    color: rgb(241, 10, 10);
    font-size: 15px;
    text-align: left;
    width: 100%;
    margin: 1px;
    padding: 1px;
    float: left;
    clear: both;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
    border: 1px solid rgb(157, 216, 49);
    border-radius: 10px;
    width: fit-content;
}

div.div_error_message_item {
    border: 1px solid rgb(241, 10, 10);
}

div#div_navigation {
    background-color: #009ED5;
	display: flex;
	padding: 1px;
	margin: 1px;
	align-items: center;
	justify-content: space-between;
	color: white;
	position: fixed;
	top: 0px;
	z-index: 9999;
	width: 97%;
}

#progress_bar
{
	position: fixed;
    clear: none;
    float: left;
	padding: 1px;
    margin: 1px;
	display: block;
	background-color: #3cc352;
	border-radius: 5px;
    height: 10px;
	animation: progress-indeterminate 1s linear infinite;
	top: 2px;
}

@keyframes progress-indeterminate
{
	from { left: 10%; width: 20%; }
	to { left: 60%; width: 20%; }
}

#img_logo {
    width: 200px;
	float: left;
    clear: both;
}

#page_header { 
	position: relative;		
	float: left;
    clear: both;
}
 
#organization_name {
	font-size: 24px;
	font-weight: bold;
	float: left;
	clear: both; 
}

#organization_slogan {
	font-weight: bold;
    font-size: 16px;
	float: left;
	clear: both; 
}

#app_title {
	font-weight: bolder;
    font-size: 20px;
    font-family: Helvetica;
    color: #fff;
    background-color: transparent; 
	margin-left: 15%; 
	position: relative;
    float: left;
    clear: both; 
}

div#div_footer {
    border-radius: 5px;
    border-color: #23D263;
    border-width: 5px;
    font-weight: bolder;
    font-size: 10px;
    color: #000;
    font-family: verdana;
    background-color: #fff;
    display: block;
    position: fixed !important;
    overflow: visible;
    clear: both;
    float: left;
    padding: 5px;
    bottom: 0px;
    left: 5px;
    width: 99%;
    height: auto;
}

#lblcopyright {
    padding: 1px;
    margin: 0px;
    border-radius: 5px;
    border-color: #008000;
    border-width: 5px;
    font-weight: bolder;
    font-size: 10px;
    color: #000;
    font-family: verdana;
    display: block;
    position: relative;
    clear: none;
    float: left;
    left: 10%;
    overflow: visible;
    height: auto;
}

#lblcopyright:hover {
    border-radius: 10px;
    border-color: #0BF2D1;
    border-width: 5px;
    background-color: #BCF309;
}

#lblfooterdate {
    padding: 1px;
    margin: 0px;
    border-radius: 5px;
    border-color: #008000;
    border-width: 5px;
    font-weight: bolder;
    font-size: 10px;
    color: #000;
    font-family: verdana;
    display: block;
    position: relative;
    clear: none;
    float: left;
    left: 20%;
    overflow: visible;
    height: auto;
}

#lblfooterdate:hover {
    border-radius: 10px;
    border-color: #0BF2D1;
    border-width: 5px;
    background-color: #BCF309;
}

#lblfootertime {
    padding: 1px;
    margin: 0px;
    border-radius: 5px;
    border-color: #008000;
    border-width: 5px;
    font-weight: bolder;
    font-size: 10px;
    color: #000;
    font-family: verdana;
    display: block;
    position: relative;
    clear: none;
    float: left;
    left: 30%;
    overflow: visible;
    height: auto;
}

#lblfootertime:hover {
    border-radius: 10px;
    border-color: #0BF2D1;
    border-width: 5px;
    background-color: #BCF309;
}

#lblfooterelapsedtime {
    padding: 1px;
    margin: 0px;
    border-radius: 5px;
    border-color: #008000;
    border-width: 5px;
    font-weight: bolder;
    font-size: 10px;
    color: #000;
    font-family: verdana;
    display: block;
    position: relative;
    clear: none;
    float: left;
    left: 40%;
    overflow: visible;
    height: auto;
}

#lblfooterelapsedtime:hover {
    border-radius: 10px;
    border-color: #0BF2D1;
    border-width: 5px;
    background-color: #BCF309;
}

#background_img {
	position: relative;
    float: left;
    clear: none;
	object-fit: contain;
	object-position: center;
	margin-top: 8%;
	display: none;
}

#img_background {
	position: relative;
    float: left;
    clear: none;
	object-fit: contain;
	object-position: center;
}
 
#div_logggin_info {
	margin-right: 1px;
	margin-top: 5px;
	position: relative;
    float: right;
    clear: none; 
	width: auto;
}

#lbllogginuser {
	position: relative;
    float: left;
    clear: both;
	padding: 5px;
	margin: 1px;
	cursor: text;
}
 
#lblloggedintime {
	position: relative;
    float: left;
    clear: both;
	padding: 5px;
	margin: 1px;
	cursor: text;
}

#btn_logout {
	position: relative;
    float: left;
    clear: both;
	padding: 5px;
	margin: 2px;
}

.crud_buttons {
	position: relative;
    float: left;
    clear: none;
	padding: 5px;
    margin: 2px;	
}

#div_content {
	position: relative;
    float: left;
    clear: none;
	padding: 1px;
    margin: 1px;
	display: block;
	height: fit-content;
	width: auto;
}

#login_modal {
	margin-bottom: 2%;
}

#create_extension_modal {
	margin-bottom: 2%;
}

#edit_extension_modal {
	margin-bottom: 2%;
}

#div_content_container {
	position: relative;
    float: left;
    clear: both;
	padding: 1px;
    margin: 1px;
	display: block;
	height: fit-content;
	width: auto;
}

#cbo_records_to_display {
	position: relative;
    float: left;
    clear: both;
	padding: 1px;
    margin: 1px;
	display: block;
	height: fit-content;
	width: auto;
}

#table_extensions td {
	position: relative; 
	padding: 5px;
	margin: 2px; 
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	width: fit-content;
	word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#table_extensions th {
	position: relative; 
	padding: 5px;
	margin: 2px; 
	font-size: 14px;
	font-weight: bold;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	width: fit-content;
	word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.div_search { 
	position: relative;
    float: left;
    clear: none;
	padding: 1px;
    margin: 10px;
	display: block;
	height: fit-content;
	width: auto;
}

.div_search label { 
	font-size: 14px;
	font-weight: bold;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle; 
	word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#div_search_content {
	position: relative;
    float: left;
    clear: both;
	padding: 1px;
    margin: 1px;
	display: block;
	height: fit-content;
	width: auto;	
}
 
#table_search_extensions {
	width: fit-content;
	margin-right: 20%;
}	

#div_search_content_container {
	position: relative;
    float: left;
    clear: both;
	padding: 1px;
    margin: 1px;
	display: block;
	height: fit-content;
	width: 100%; 
	left: 30%; 
}

#table_search_extensions td {
	position: relative; 
	padding: 5px;
	margin: 2px; 
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	width: fit-content;
	word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#table_search_extensions th {
	position: relative; 
	padding: 5px;
	margin: 2px; 
	font-size: 14px;
	font-weight: bold;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	width: fit-content;
	word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#div_search_content_container #div_messages {
	float: left;
    clear: both;	
}

#btn_login {
	position: relative;
    float: left;
    clear: both;
	padding: 5px;
	margin: 2px;
}

#txt_edt_id {
	display: none;
}
  
  